In [1]:
import pandas as pd
import numpy as np
import collections

In [2]:
doc1 = "Harry Potter is a great movie!!"
doc2 = "Harry Potter is the best movie!"
doc3 = "Harry Potter is so great"

In [3]:
import re

doc1 = re.sub(r"[^a-zA-Z0-9]"," ",doc1.lower()).split()
doc2 = re.sub(r"[^a-zA-Z0-9]"," ",doc2.lower()).split()
doc3 = re.sub(r"[^a-zA-Z0-9]"," ",doc3.lower()).split()

In [4]:
doc1

['harry', 'potter', 'is', 'a', 'great', 'movie']

In [5]:
doc2

['harry', 'potter', 'is', 'the', 'best', 'movie']

In [6]:
doc3

['harry', 'potter', 'is', 'so', 'great']

## BOW

In [8]:
all_words = set(doc1 + doc2 + doc3)
all_words

{'a', 'best', 'great', 'harry', 'is', 'movie', 'potter', 'so', 'the'}

In [13]:
def BOWrep(all_words,doc):
    bow  = dict.fromkeys(all_words,0)
    for word in doc:
        bow[word] = doc.count(word)
    return bow

In [14]:
bow1 = BOWrep(all_words,doc1)
bow1

{'is': 1,
 'so': 0,
 'harry': 1,
 'a': 1,
 'movie': 1,
 'potter': 1,
 'great': 1,
 'best': 0,
 'the': 0}

In [15]:
bow2 = BOWrep(all_words,doc2)
bow3 = BOWrep(all_words,doc3)

In [16]:
bow2

{'is': 1,
 'so': 0,
 'harry': 1,
 'a': 0,
 'movie': 1,
 'potter': 1,
 'great': 0,
 'best': 1,
 'the': 1}

In [17]:
bow3

{'is': 1,
 'so': 1,
 'harry': 1,
 'a': 0,
 'movie': 0,
 'potter': 1,
 'great': 1,
 'best': 0,
 'the': 0}

In [18]:
df_bow = pd.DataFrame([bow1,bow2,bow3])
df_bow

   is  so  harry  a  movie  potter  great  best  the
0   1   0      1  1      1       1      1     0    0
1   1   0      1  0      1       1      0     1    1
2   1   1      1  0      0       1      1     0    0

### Scikit Learn