In [5]:
import pandas as pd
import numpy as np
import collections

In [6]:
doc1 = "Harry Potter is a great movie!!"
doc2 = "Harry Potter is the best movie!"
doc3 = "Harry Potter is so great"

In [7]:
import re

doc1 = re.sub(r"[^a-zA-Z0-9]"," ",doc1.lower()).split()
doc2 = re.sub(r"[^a-zA-Z0-9]"," ",doc2.lower()).split()
doc3 = re.sub(r"[^a-zA-Z0-9]"," ",doc3.lower()).split()

In [8]:
doc1

['harry', 'potter', 'is', 'a', 'great', 'movie']

In [9]:
doc2

['harry', 'potter', 'is', 'the', 'best', 'movie']

In [10]:
doc3

['harry', 'potter', 'is', 'so', 'great']

## BOW

In [11]:
all_words = set(doc1 + doc2 + doc3)
all_words

{'a', 'best', 'great', 'harry', 'is', 'movie', 'potter', 'so', 'the'}

In [12]:
def BOWrep(all_words,doc):
    bow  = dict.fromkeys(all_words,0)
    for word in doc:
        bow[word] = doc.count(word)
    return bow

In [13]:
bow1 = BOWrep(all_words,doc1)
bow1

{'great': 1,
 'so': 0,
 'the': 0,
 'a': 1,
 'potter': 1,
 'harry': 1,
 'is': 1,
 'best': 0,
 'movie': 1}

In [14]:
bow2 = BOWrep(all_words,doc2)
bow3 = BOWrep(all_words,doc3)

In [15]:
bow2

{'great': 0,
 'so': 0,
 'the': 1,
 'a': 0,
 'potter': 1,
 'harry': 1,
 'is': 1,
 'best': 1,
 'movie': 1}

In [16]:
bow3

{'great': 1,
 'so': 1,
 'the': 0,
 'a': 0,
 'potter': 1,
 'harry': 1,
 'is': 1,
 'best': 0,
 'movie': 0}

In [17]:
df_bow = pd.DataFrame([bow1,bow2,bow3])
df_bow

   great  so  the  a  potter  harry  is  best  movie
0      1   0    0  1       1      1   1     0      1
1      0   0    1  0       1      1   1     1      1
2      1   1    0  0       1      1   1     0      0

### Scikit Learn

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
doc1 = "Harry Potter is a great movie!!"
doc2 = "Harry Potter is the best movie!"
doc3 = "Harry Potter is so great"
cv_out = cv.fit_transform([doc1,doc2,doc3]).toarray()

In [19]:
cv_out

array([[0, 1, 1, 1, 1, 1, 0, 0],
       [1, 0, 1, 1, 1, 1, 0, 1],
       [0, 1, 1, 1, 0, 1, 1, 0]])

In [20]:
pd.DataFrame(cv_out,columns= cv.get_feature_names_out())

   best  great  harry  is  movie  potter  so  the
0     0      1      1   1      1       1   0    0
1     1      0      1   1      1       1   0    1
2     0      1      1   1      0       1   1    0

### Ngram Rep

In [24]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range=(1,2))
doc1 = "Harry Potter is a great movie!!"
doc2 = "Harry Potter is the best movie!"
doc3 = "Harry Potter is so great"
cv_out = cv.fit_transform([doc1,doc2,doc3]).toarray()

In [25]:
pd.DataFrame(cv_out,columns= cv.get_feature_names_out())

,best,best movie,great,great movie,harry,harry potter,is,is great,is so,is the,movie,potter,potter is,so,so great,the,the best
0,0,0,1,1,1,1,1,1,0,0,1,1,1,0,0,0,0
1,1,1,0,0,1,1,1,0,0,1,1,1,1,0,0,1,1
2,0,0,1,0,1,1,1,0,1,0,0,1,1,1,1,0,0