In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import math

In [2]:
sen1 = "Data Science is an amazing career in the current world"
sen2 = "Deep learning is a subset of machine learning"

### Tokenize
sen1 = sen1.split(" ")
sen2 = sen2.split(" ")
vocab = set(sen1).union(set(sen2))
# vocab = set(sen1+sen2)

In [3]:
vocab

{'Data',
 'Deep',
 'Science',
 'a',
 'amazing',
 'an',
 'career',
 'current',
 'in',
 'is',
 'learning',
 'machine',
 'of',
 'subset',
 'the',
 'world'}

### Create count dictionary of Unique words

In [4]:
wordDict1 = dict.fromkeys(vocab,0)
wordDict2 = dict.fromkeys(vocab,0)

In [5]:
for word in sen1:
    wordDict1[word] +=1
    
for word in sen2:
    wordDict2[word] +=1
    
wordDict1

{'in': 1,
 'machine': 0,
 'the': 1,
 'an': 1,
 'amazing': 1,
 'Data': 1,
 'of': 0,
 'subset': 0,
 'learning': 0,
 'current': 1,
 'world': 1,
 'Science': 1,
 'a': 0,
 'is': 1,
 'Deep': 0,
 'career': 1}

In [6]:
wordDict2

{'in': 0,
 'machine': 1,
 'the': 0,
 'an': 0,
 'amazing': 0,
 'Data': 0,
 'of': 1,
 'subset': 1,
 'learning': 2,
 'current': 0,
 'world': 0,
 'Science': 0,
 'a': 1,
 'is': 1,
 'Deep': 1,
 'career': 0}

In [8]:
df = pd.DataFrame([wordDict1,wordDict2])
df

,in,machine,the,an,amazing,Data,of,subset,learning,current,world,Science,a,is,Deep,career
0,1,0,1,1,1,1,0,0,0,1,1,1,0,1,0,1
1,0,1,0,0,0,0,1,1,2,0,0,0,1,1,1,0

### TF

In [9]:
def Calculate_tf(wordDict,doc):
    tfDict = {}
    len_corpus = len(doc)
    
    for word,count in wordDict.items():
        tfDict[word] = count/len_corpus
    
    return tfDict

In [13]:
tf1 = Calculate_tf(wordDict1,sen1)
tf2 = Calculate_tf(wordDict1,sen2)

In [14]:
df1 = pd.DataFrame([tf1,tf2])

In [15]:
df1

,in,machine,the,an,amazing,Data,of,subset,learning,current,world,Science,a,is,Deep,career
0,0.100,0.0,0.100,0.100,0.100,0.100,0.0,0.0,0.0,0.100,0.100,0.100,0.0,0.100,0.0,0.100
1,0.125,0.0,0.125,0.125,0.125,0.125,0.0,0.0,0.0,0.125,0.125,0.125,0.0,0.125,0.0,0.125

#### Remove Stopwords

In [17]:
from nltk.corpus import stopwords
import nltk
sw = stopwords.words("english")

In [19]:
f1 = [word for word in wordDict1 if not word in sw]
f2 = [word for word in wordDict2 if not word in sw]

In [20]:
f1

['machine',
 'amazing',
 'Data',
 'subset',
 'learning',
 'current',
 'world',
 'Science',
 'Deep',
 'career']